/* <style type ="text/css"> */
body {
    text-align:center;
     color: blue;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif serif;
     font-size: 50px;
     font-style: oblique;
     background-color: gray;
     padding: 100px;

}
h1{color: indianred;
    font-size: 80px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: khaki}
 